# STM32Cube copied library and project folders
MDK-ARM/*
EWARM/*
Debug/*
Release/*
#*.xml
.settings/*
*makefile

# CrossWorks project files
!*/*.hzp
!*/*.hzs


# Object files
*.o
*.s
*.su
*.d
*.ko
*.mk
*.obj

# binary
*.elf
*.bin

#else
*.mxproject
*.list
*.map
*.launch




